*.pyc
*~
__pycache__
myvenv
db.sqlite3
.DS_Store
.thunderbird
.rstudio-desktop
.sudo_as_admin_successful
.ssh
.selected_editor
.Rhistory
.RData
.python_history
.PyCharmCE2018.2
.PyCharmCE2018.1
.profile
.pki
.mozilla
.local
.java
.ICEauthority
.gnupg
.gitconfig
.git
.config
.cache
.bashrc
.bash_logout
.bash_history
/R
/snap
/Видео
/Документы
/Загрузки
/Изображения
/Музыка
/Общедоступные
/Примеры
/Рабочий стол
/Шаблоны
